<!-- <div class="container">
  <header class = "jumbotron">
    {{#link-to 'index'}}<h1>Super Rentals</h1>{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div> -->


<div class="container">
  <div class="jumbotron">

  <div class="navbar navbar-inverse">
    <h2 id="title">Q and A</h2>
    <h1 id="title-shadow">Q and A</h1>
    <a id="navbar" class="navbar-brand text-muted" href="/">Home</a>

    <a id="navbar" class="navbar-brand text-muted" href="/about"> About</a>

  </div>
  </div>
  {{outlet}}
</div>

<!-- <div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div> -->
